.myImage{
	background-image: url("http://imgcdn.geocaching.com/cache/7087a8b7-f338-431d-a80a-74d7bf086572.jpg?rnd=0.4160534");
}
.btn{
	background-color: grey;
	border: 4px solid #4f6267;
	color: black;
	font-weight: bold;
}
.btn:hover {
	color: #FFF;
	background: #900;
}
.text-center{
	padding-bottom: 30px;
}